

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
}


#mySidenav{
display:none;
}



#home{
    position: relative;
    background-color:#e2e9f1 !important;

}

.navbar-default{
    background-color: transparent;
}

#kichwa {
    width: 400px;
    margin-bottom: 0px;
}

.navbar-right {
    margin-top: 25px;
}

.subhead img {
    width: 50px;
}

#contact{
/*     
    color:#ffffff;
    background-color:#003e53; 
    border:1px solid black;  */
}


#contact:hover{
background-color: #a5130f;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: 300;
    font-size: 16pt;
    background-color: transparent ;
}

.navbar-default .navbar-nav>li>a.highlight {
    /* color:#a5130f; */
}




/* Main Stuff For Marketing */

.main{
position: relative;

margin-top: 120px;
}

#motto{
    text-align: left;
}

#motto h1{
text-align: center;
color: black;
}

#motto a{
    display: block;
    text-align: center;
    color: #ffffff;
    width: 200px;
    line-height: 25px;
    padding: 13px 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin: 0px auto 0px auto;
    margin-top: 50px;
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 2s ease;
    border: 2px solid #FFFFFF;
    background-color: #de5755;
    text-decoration: none;
}



#motto a:hover{


}

#laptop{

 
}


#laptop img{

width: 600px;
}









/* What*/



/* CV */







/*   Modal styling Beginning */






/* Contact */





   

